<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/food/tabs/ingredients"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Ingredient</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateIngredient()" color="secondary"
        [disabled]="!form?.valid || !form.get('image').value">
        <ion-icon name="checkbox" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner color="primary" name="bubbles"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-select interface="popover" formControlName="category">
              <ion-select-option value="605f7f51a2d8979ad183abdf">Grains and Seeds</ion-select-option>
              <ion-select-option value="605f7f73a2d8979ad183abe0">Herbs and Spices</ion-select-option>
              <ion-select-option value="605f7f91a2d8979ad183abe1">Meat, Poultry and Seafood</ion-select-option>
              <ion-select-option value="605f7fb6a2d8979ad183abe2">Dairy</ion-select-option>
              <ion-select-option value="605f7fc5a2d8979ad183abe3">Fruits</ion-select-option>
              <ion-select-option value="605f7fd3a2d8979ad183abe4">Vegetables</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Measurement Unit</ion-label>
            <ion-select interface="popover" formControlName="measurementUnit" #selectUnit>
              <ion-select-option value="605f8041a2d8979ad183abe7">ml (per 100 mililiters)</ion-select-option>
              <ion-select-option value="605f802aa2d8979ad183abe6">g (per 100 grams)</ion-select-option>
              <ion-select-option value="605f8058a2d8979ad183abe8">oz (per ounce)</ion-select-option>
              <ion-select-option value="605f8072a2d8979ad183abe9">lb (per pund)</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Calories<!--  / {{ selectUnit.value }}  --></ion-label>
            <ion-input type="number" formControlName="calories"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Total Fats<!--  / {{ selectUnit.value }}  --></ion-label>
            <ion-input type="number" formControlName="totalFats"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Saturated Fats<!--  / {{ selectUnit.value }}  --></ion-label>
            <ion-input type="number" formControlName="saturatedFats"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Total Carbohydrates<!--  / {{ selectUnit.value }}  --></ion-label>
            <ion-input type="number" formControlName="totalCarbohydrates"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Sugar<!--  / {{ selectUnit.value }}  --></ion-label>
            <ion-input type="number" formControlName="sugar"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <ion-item>
            <ion-label position="floating">Proteine<!--  / {{ selectUnit.value }}  --></ion-label>
            <ion-input type="number" formControlName="proteine"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
          <!-- <ion-item>
            <ion-label position="floating">ImageUrl</ion-label> 
            <ion-input type="text" formControlName="image"></ion-input>
          </ion-item> -->
          <div class="picker" *ngIf="!showPicker">
            <ion-img role="button" class="image" src="{{ ingredient.image }}"></ion-img>
          </div>
          <app-image-picker (imagePick)="onImagePicked($event)" *ngIf="showPicker"></app-image-picker>
        </ion-col>
        <ion-col size="8" offset="2" size-lg="2" offset-lg="5" size-md="4" offset-md="4" size-sm="6" offset-sm="3">
          <ion-button color="danger" fill="outline" *ngIf="!showPicker" expand="block" (click)="onChangeImage()" >
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>