ion-content{
    --background: rgb(214, 214, 214);
}
ion-item{
    --background: rgb(214, 214, 214);
}
ion-searchbar{
    --background: rgb(214, 214, 214);
}
ion-list{
    background: rgb(214, 214, 214);
}

