<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onEditMode()" 
        *ngIf="!editMode && !isLoading && user?.dateOfBirth && user?.firstName && user?.gender && user?.height && user?.lastName && user?.maxCalories && user?.weight">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onEditMode()" color="danger" *ngIf="editMode">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="isLoading">
    <ion-spinner color="primary" name="bubbles"></ion-spinner>
  </div>

  <ion-grid
    *ngIf="!isLoading && user?.dateOfBirth && user?.firstName && user?.gender && user?.height && user?.lastName && user?.maxCalories && user?.weight">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div style="height: 110px;">
          <canvas baseChart [datasets]="chartData2" [labels]="chartLabels2" [chartType]="chartType2"
            [colors]="chartColors2" [legend]="false" [options]="chartOptions2" [plugins]="chartPlugins2">
          </canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2" size-md="4" offset-md="4">
        <ion-button fill="outline" expand="block" [disabled]="editMode" (click)="onAddCalories()">Add Calories
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider></ion-item-divider>

  <form (ngSubmit)="onUpdateUserData()" #f="ngForm"
    *ngIf="!isLoading && user?.dateOfBirth && user?.firstName && user?.gender && user?.height && user?.lastName && user?.maxCalories && user?.weight">
    <ion-grid>
      <ion-list>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" [(ngModel)]="editedUser.firstName" name="first-name" required
                [readonly]="!editMode"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" [(ngModel)]="editedUser.lastName" name="last-name" required [readonly]="!editMode">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-radio-group [(ngModel)]="editedUser.gender" required name="user-gender" [disabled]="!editMode"
          (ionChange)="calculateCalories()">
          <ion-row>
            <ion-col size-md="3" offset-md="3">
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio value="male" lines="none" [disabled]="!editMode && editedUser.gender === 'female'">
                </ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size-md="3">
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio value="female" [disabled]="!editMode && editedUser.gender === 'male'"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">Date of Birth</ion-label>
              <ion-datetime display-format="MMM DD YYYY" picker-format="MMM DD YYYY" name="date-of-birth" required
                [readonly]="!editMode" [(ngModel)]="date" (ngModelChange)="calculateCalories()"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">Weight (kg)</ion-label>
              <ion-input type="number" [(ngModel)]="editedUser.weight" name="user-weight" required min="10"
                [readonly]="!editMode" (ngModelChange)="calculateCalories()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">Height (cm)</ion-label>
              <ion-input type="number" [(ngModel)]="editedUser.height" name="user-height" required min="50"
                [readonly]="!editMode" (ngModelChange)="calculateCalories()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">Max Daily Calories (kcal)</ion-label>
              <ion-input type="number" [(ngModel)]="editedUser.maxCalories" name="max-calories" required min="1"
                [readonly]="!editMode"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="suggestedCalories && editMode">
          <ion-col size-md="6" offset-md="3">
            <ion-label style="font-size: small; font-family: monospace;">Suggested calorie intake:
              {{ suggestedCalories }} kcal</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="editMode">
          <ion-col size="8" offset="2" size-md="4" offset-md="4">
            <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid" style="margin-top: 15px;">
              Save Changes</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-grid>
  </form>

  <ion-item-divider></ion-item-divider>

  <ion-grid
    *ngIf="!isLoading && user?.dateOfBirth && user?.firstName && user?.gender && user?.height && user?.lastName && user?.maxCalories && user?.weight && user?.dailyNutrition">
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-md="8" offset-md="2" size-sm="10" offset-sm="1">
        <ion-item>
          <ion-label position="floating">Displaying Data</ion-label>
          <ion-select interface="alert" [(ngModel)]="displayingData" (ngModelChange)="setChartData()">
            <ion-select-option value="calories">Calories</ion-select-option>
            <ion-select-option value="totalFats">Total Fats</ion-select-option>
            <ion-select-option value="saturatedFats">Saturated Fats</ion-select-option>
            <ion-select-option value="totalCarbohydrates">Total Carbohydrates</ion-select-option>
            <ion-select-option value="sugar">Sugar</ion-select-option>
            <ion-select-option value="proteine">Proteine</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [chartType]="chartType" [colors]="chartColors"
          [legend]="false" [options]="chartOptions">
        </canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <form [formGroup]="form" *ngIf="!isLoading && user?.dateOfBirth && user?.firstName && user?.gender && user?.height && user?.lastName && user?.maxCalories && user?.weight">
      <ion-grid>
        <ion-list>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" formControlName="firstName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" formControlName="lastName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-radio-group [formControlName]="form.controls['gender']"> ne moze da radi formcontrol name sa ionradiogroup
            <ion-row>
              <ion-col size-md="3" offset-md="3">
                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio value="male" lines="none"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size-md="3">
                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio value="female"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Date of Birth</ion-label>
                <ion-datetime display-format="MMM DD YYYY" picker-format="MMM DD YYYY" formControlName="dateOfBirth"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col  size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Weight (kg)</ion-label>
                <ion-input type="number" formControlName="weight" required min="10"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Height (cm)</ion-label>
                <ion-input type="number" formControlName="height" required min="50"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              <ion-item>
                <ion-label position="floating">Max Daily Calories (kcal)</ion-label>
                <ion-input type="number" formControlName="maxCalories" required min="1"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="suggestedCalories">
            <ion-col size-md="6" offset-md="3">
              <ion-label style="font-size: small; font-family: monospace; margin-right: 10px;">Suggested calorie intake: {{ suggestedCalories }} kcal</ion-label>
            </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col size-sm="md" offset-md="3">
              <ion-button (click)="onUpdateUserData()" color="primary" expand="block" [disabled]="!form.valid" style="margin-top: 15px;">Save Changes</ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-grid>
    </form> -->
</ion-content>